name: Go

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  shell: "sh -x"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # report all go versions separately
      matrix:
        go-version:
          - "1.24"
          - "1.25"
          - "1.26"
          - "latest"
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{matrix.go-version}}

      - name: Build
        run: make test
